In [ ]:
pip install scikit-learn

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('data.csv')
df

,sotok,summa,keys,url,text
0,6,50000,['/4-bedrooms'. '/owner'. '/yes'],https://lalafo.kg/bishkek/ads/ak-ordo-rajon-le...,NaN
1,50,20000,['/15-bedrooms'. '/owner'. '/yes'],https://lalafo.kg/bishkek/ads/-id-83798513,Ассалом алейкум туугандар.Нарын об.Кочкор рн.К...
2,13,50000,['/sokuluk'. '/yes'],https://lalafo.kg/bishkek/ads/-id-81920623,Прадаю дом сокулукскии раион село Орок участок...
3,15,70000,['/4-bedrooms'. '/novopavlovka'. '/owner'],https://lalafo.kg/bishkek/ads/prodaem-domselo-...,NaN
4,13,17000,['/2-bedrooms'. '/no'. '/owner'. '/sadovoe'],https://lalafo.kg/bishkek/ads/prodaetsa-dom-se...,NaN
...,...,...,...,...,...
1002,7,25000,['/4-bedrooms'. '/no'. '/owner'],https://lalafo.kg/bishkek/ads/-id-64434406,Срочно продаю дом в Чолпон ате .Дом находиться...
1003,7,45000,['/5-bedrooms'. '/novo-pokrovka'. '/owner'. '/...,https://lalafo.kg/bishkek/ads/-id-82649090,Срочно продаю дом в селе Новопокровка близко к...
1004,10,15000,['/3-bedrooms'. '/no'. '/owner'],https://lalafo.kg/bishkek/ads/-id-70293624,Срочно срочно Продается 3 ком дом все условия ...
1005,9,26000,['/7-bedrooms'. '/ak-bata'. '/ak-bosogo'. '/ak...,https://lalafo.kg/bishkek/ads/-id-73226075,Ысык-Кол област Балыкчы шаарынын эски плаж жак...
1006,10,50000,['/5-bedrooms'. '/dzhal'. '/no'. '/owner'],https://lalafo.kg/bishkek/ads/-id-83529485,Здравствуйте. Продается дом 10 сотых 6-комнат ...

In [4]:
not_useful = ['keys', 'url', 'text']
df = df.drop(not_useful, axis =1)

In [5]:
#check nulls
print(df.isnull().sum())

sotok    0
summa    0
dtype: int64

In [6]:
df

      sotok  summa
0         6  50000
1        50  20000
2        13  50000
3        15  70000
4        13  17000
...     ...    ...
1002      7  25000
1003      7  45000
1004     10  15000
1005      9  26000
1006     10  50000

[1007 rows x 2 columns]

In [8]:
array = df['summa'].to_numpy()

In [9]:
array = array.astype(int)

In [10]:
df['price'] = array.tolist()

In [11]:
x = df.copy()
y = x.pop('price')

In [13]:
x_train, x_test, y_train, y_test  = train_test_split(x, y, test_size = 0.5)

In [15]:
modelogr = LinearRegression()
modelogr.fit(x_train, y_train)
print('Linear Regression Score on the Train data = ',modelogr.score(x_train, y_train)) 
print('Linear Regression Score on the Test data = ',modelogr.score(x_test, y_test))

Linear Regression Score on the Train data =  1.0
Linear Regression Score on the Test data =  1.0